.headerContainer {
    background-color: white;
    border: 1px solid #575757;
    border-radius: 4px;
    display: flex;
    align-items: center; /* Align items vertically */
    position: relative;
}

.logo {
    height: 70px; /* Adjust the height as needed */
    border-bottom: 1px solid #575757;
}

.priNav {
    flex: 1; /* Take remaining space */
    display: flex;
    justify-content: center;
    align-items: center; /* Align items vertically */
}

.megaMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.megaMenu .menuItem {
    margin-left: 20px; /* Adjust spacing between menu items */
    position: relative; /* Add relative positioning for absolute child */
}

.megaContent {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #FAFAFA;
    border: 1px solid #575757;
    border-radius: 4px;
    width: 200px; /* Adjust width as needed */
}

.menuItem:hover .megaContent {
    display: block;
}

.megaContent p {
    margin: 10px 0;
}

.megaMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
