.headerContainer {
    background-color: #ffffff;
    border-bottom: 1px solid #eaeaea;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Add this to push the logo and nav menus apart */
}

.logo{
    background-color: black;
    width: 100px;
    display: inline-flex;
}

.priNav {
    flex: 3; /* Adjust width of navigation */
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 20px;
    color: #333333;
    text-decoration: none;
    display: inline-flex;
}

.megaMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.megaMenu .menuItem {
    margin-left: 20px; /* Adjust spacing between menu items */
    position: relative; /* Add relative positioning for absolute child */
}

.megaContent {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #FAFAFA;
    border: 1px solid #575757;
    border-radius: 4px;
    width: 200px; /* Adjust width as needed */
}

.menuItem:hover .megaContent {
    display: block;
}

.megaContent p {
    margin: 10px 0;
    display: inline-block;
}

.megaMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

